@mixin mobile {
  @media screen and (width <= 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (width > 480px) and (width < 768px) {
    @content;
  }
}

.home {
  display: flex;
  flex-direction: column;

  @include mobile {
    gap: 10px;
  }
}
